.react-calendar {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
  font-family: "Gilroy";
  border: none;
  align-self: center;
}

/* Navigation */
.react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: bold;
  color: rgb(140, 4, 219);
}
.react-calendar__navigation__arrow {
  font-size: 35px;
  font-family: "Gilroy";
  font-weight: bold;
  color: rgb(140, 4, 219);
}

.react-calendar__navigation button:disabled {
  background: white;
  color: lightgray;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: white;
}

abbr[title] {
  text-decoration: none;
}
/* Day of the week view */
.react-calendar__month-view__weekdays__weekday {
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
}

.react-calendar__month-view__days__day {
  font-size: 20px;
  font-family: "Gilroy";
}

.react-calendar__month-view__days__day {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Tiles */
/* Current day highlight */
.react-calendar__tile--now {
  background: none;
}

/*Selected day highlight */
.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white;
  color: black;
}

/*Remove selected month highlight in year view*/
.react-calendar__tile--hasActive {
  background: white;
  color: black;
}

/* .react-calendar__tile-Mandatory {
  background-color: #006bff;
  color: white;
  font-weight: bold;
} */
.react-calendar__tile-Mandatory > abbr {
  display: none;
}

/* .react-calendar__tile-Vacation {
  background-color: #0ae8f0;
  color: #006bff;
  font-weight: bold;
} */

.react-calendar__tile-Vacation > abbr {
  display: none;
}

/* .react-calendar__tile-PublicHoliday {
  background-color: #0ae8f0;
  color: #006bff;
  font-weight: bold;
} */

/* .react-calendar__tile-PublicHoliday > abbr {
  display: none;
} */

/* Weekend highlight */
.react-calendar__tile-Weekend {
  color: #222;
  font-weight: bold;
}

/* Holidays highlight */
.react-calendar__tile-Holiday {
  background-color: #0ae8f0;
  color: #006bff;
  font-weight: bold;
  font-size: 20px;
}

.react-calendar__tile-Holiday > abbr {
  display: none;
}

/* Algorithm picked days highlight */
.react-calendar__tile-Algorithm {
  background-color: #006bff;
  color: white;
  font-weight: bold;
}

/* Algorithm picked weekend highlight */
.react-calendar__tile-AlgoWeekend {
  background-color: #0ae8f0;
  color: white;
  font-weight: bold;
}

/* Neighboring month */
.react-calendar__month-view__days__day--neighboringMonth {
  color: lightgray;
}

/* Media Query for navigation text in phone view */
@media (max-width: 600px) {
  .react-calendar__navigation__label__labelText {
    font-size: 15px;
    text-align: center;
  }
}
