.dashboard {
  display: flex;
  background-color: #efefef;
}
.CalendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

/* Animation on render */
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  animation: 1s ease-out 0s 1 FadeIn;
}
