.TripsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  margin-bottom: 50px;
}
.TripsContainer > * {
  margin-top: 15px;
  margin-bottom: 15px;
}
