form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3rem;
}

p {
  font-size: 1rem;
}

.submit-input-align {
  display: flex;
}
#country {
  height: 4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
#region {
  height: 4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
#vacationDays {
  height: 4rem;
  font-size: 1.3rem;
  cursor: pointer;
  max-width: 5rem;
}
#btn {
  background-color: #0d6aff;
  border-radius: 0.5rem;
  color: white;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
#btn:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

@media (max-width: 1450px) {
  h1 {
    font-size: 1.5rem;
  }
  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
  }
  #country {
    font-size: 0.8;
    height: 3rem;
    max-width: 20rem;
  }
  #region {
    font-size: 0.8;
    height: 3rem;
    max-width: 20rem;
  }
  #vacationDays {
    font-size: 0.8;
    height: 3rem;
    max-width: 5rem;
  }
  #btn {
    margin-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    font-size: 1rem;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
