.menuContainer {
  width: 25vw;
  height: 100vh;
  background-color: white;
  border-radius: 1rem;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brand {
  color: #0d6aff;
  font-size: 3rem;
  margin-left: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}
.home {
  margin-top: 20%;
  font-size: 2em;
  margin-left: 1rem;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.home:hover {
  background-color: #ebf2fb;
  cursor: pointer;
  color: #0d6aff;
}

.homeIcon {
  margin-right: 0.5em;
}
.calendar {
  margin-top: 20%;
  font-size: 2em;
  margin-left: 1rem;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.calendar:hover {
  background-color: #ebf2fb;
  cursor: pointer;
  color: #0d6aff;
}
.calendarIcon {
  margin-right: 0.5em;
}
.holidays {
  margin-top: 20%;
  font-size: 2em;
  margin-left: 1rem;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.holidays:hover {
  background-color: #ebf2fb;
  cursor: pointer;
  color: #0d6aff;
}
.holidayIcon {
  margin-right: 0.5em;
}

.analytics {
  margin-top: 20%;
  font-size: 2em;
  margin-left: 1rem;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.analytics:hover {
  background-color: #ebf2fb;
  cursor: pointer;
  color: #0d6aff;
}
.analyticsIcon {
  margin-right: 0.5em;
}

@media (max-width: 1440px) {
  .brand {
    font-size: 2.5rem;
  }
  .controls {
    font-size: 0.8rem;
  }
}
