.dashboardHeader,
.settingsHeader {
  display: flex;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background: linear-gradient(
    180deg,
    rgb(46, 170, 250) 0%,
    rgb(140, 4, 219) 100%
  );
  width: 100%;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selections,
.settingsSelections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50%;
}
.selections > *,
.settingsSelections > * {
  cursor: pointer;
  color: white;
}

.selections > h3,
.settingsSelections > h3 {
  cursor: default;
}
