.legend {
  margin-top: 60%;
  margin-left: 1rem;
  font-size: 2em;
  border-radius: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: flex;
  flex-direction: column;
}

.pickedLegend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pickedSquare {
  margin-right: 1em;
  border-radius: 1em;
  width: 1em;
  height: 1em;
  background-color: #006bff;
  border: 1px solid black;
}

.holidayLegend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.holidaySquare {
  border: 1px solid black;
  border-radius: 1em;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background-color: #0ae8f0;
}
.legendTextContainer {
  width: 8rem;
}
.legendText {
  font-size: 1.5rem;
}
