.OverviewContainer {
  background-color: white;
  width: 95%;
  border-radius: 10px;
  height: fit-content;
  margin-bottom: 65px;
  padding-bottom: 20px;
}

.OverviewContainer > h3 {
  margin-left: 20px;
}

.OverviewContainer > div {
  margin-left: 20px;
}

.TextFieldContainer {
  width: 90%;
}
