.calendarNavbar {
  display: flex;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: white;
  width: 100%;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50%;
}
.selections > * {
  cursor: pointer;
}

.selections > h3 {
  cursor: default;
  color: #ff1079;
}
