.title{
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 5rem;

}
.highlight{
    color: #0d6aff ;
}
.title > .description{
    font-size: 2rem;
    max-width: 50rem;
    padding-top: 2rem;
}
@media (max-width: 1450px) {
    .title{
        font-size: 3.2rem;
    }
}